@import '../../styles/mixins.scss';

.tg-button {
    font-family: 'Caveat';
    font-weight: 700;
    font-size: inherit;
    line-height: inherit;
    text-transform: uppercase;
    color: #232323;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &:hover .underline__path {
        stroke-dashoffset: 0;
    }
}

.underline {
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;

    &__path {
        width: 100%;
        transition: stroke-dashoffset .3s;

        @include respond-mobile {
            stroke-dashoffset: 0;
        }
    }
}