@import './reset.scss';
@import './fonts.scss';

html, body {
    height: 100%;
}

body {
    font-family: 'Neue Machina';
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    color: #232323;
}

#root {
    height: 100%;
}