@import "../../styles/mixins.scss";

.logo {
    display: flex;
    gap: 4px;
    text-decoration: none;
    align-self: flex-start;

    h2 {
        font-weight: 500;
        font-size: 32px;
        color: #232323;
        width: 122px;

        @include respond-mobile {
            font-size: 20px;
            width: 80px;
        }
    }
}

.icon {
    background-image: url('../../assets/images/logo.png');
    background-repeat: no-repeat;
    width: 33px;
    height: 58px;
    background-size: contain;

    @include respond-mobile {
        background-image: url('../../assets/images/logo-mobile.png');
        width: 21px;
        height: 37px;
    }
}